.contenedor-foot {
  background-color: #272525;
  color: white;
}
.contenedor-foot .contenido-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 50px 10px 10px 10px;
}
@media screen and (min-width: 800px) {
  .contenedor-foot .contenido-foot {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.terminos .terminos-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.terminos .terminos-text h4 {
  font-weight: 800;
}
.terminos .terminos-text h6 {
  font-size: 16px;
  font-weight: 700;
}
.terminos .terminos-text p {
  color: #bd0505;
  cursor: pointer;
}
.terminos .entradas {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 20px;
}
.terminos .entradas h6 {
  font-size: 14px;
  font-weight: 800;
}
.terminos .entradas .contenido-entrada span {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.2;
}
.terminos .entradas .contenido-entrada p {
  font-weight: 800;
  opacity: 0.6;
}

.informacion h6 {
  font-size: 17px;
  font-weight: 800;
}
.informacion .enlace a {
  text-decoration: none;
  color: #bd0505;
}

.form-contacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 10px;
}
.form-contacto form label span {
  color: #bd0505;
}
.form-contacto form input {
  border: none;
  border-radius: 10px;
  height: 35px;
  padding-left: 10px;
  outline: none;
}
@media screen and (min-width: 800px) {
  .form-contacto form input {
    height: 30px;
    border-radius: 5px;
  }
}
.form-contacto form select {
  outline: none;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
}
.form-contacto form input[type=submit] {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  border-radius: 6px;
  background-color: #bd0505;
  color: white;
}