body {
  font-family: sans-serif;
  margin: 0px;
}

.logo img {
  width: 100vw;
  height: 230px;
  margin-top: 150px;
}
@media screen and (min-width: 600px) {
  .logo img {
    margin-top: 80px;
    height: 290px;
  }
}
@media screen and (min-width: 800px) {
  .logo img {
    margin-top: 80px;
    height: 450px;
  }
}

.servicios {
  margin-top: 50px;
  width: 90vw;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.servicios .contenedor {
  width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.servicios .contenedor .icono {
  width: 70px;
  border: 2px solid #3191c5;
  border-radius: 50%;
  padding: 20px;
}
.servicios .contenedor .icono svg {
  width: 100%;
  height: 100%;
  color: #3191c5;
}
.servicios .contenido h1 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.servicios .contenido p {
  text-align: center;
}

.enlace-mas {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.enlace-mas a {
  width: 150px;
  height: 40px;
  background-color: #3191c5;
  border: 2px solid #3191c5;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
.enlace-mas a:hover {
  background-color: transparent;
  border: 1px solid rgb(47, 47, 241);
  color: rgb(57, 57, 232);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}