@mixin laptop {
    @media screen and (min-width: 800px) {
      @content;
    }
  }
  @mixin compu {
    @media screen and (min-width: 1000px) {
      @content;
    }
  }
body {
  font-family: sans-serif;
  margin: 0px;
}
.logo {
  img {
    width: 100vw;
    height: 200px;
    margin-top: 150px;
    @include laptop {
        margin-top: 80px;
        height: 500px;
    }
}
}
