body {
  font-family: sans-serif;
  margin: 0px;
  overflow-x: hidden;
}

.navbar-fdc {
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
@media screen and (min-width: 800px) {
  .navbar-fdc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.navbar-fdc .titulo-nav {
  margin-top: 10px;
  margin-bottom: 20px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1000px) {
  .navbar-fdc .titulo-nav {
    margin-left: 20px;
  }
}
.navbar-fdc .titulo-nav button {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}
.navbar-fdc .titulo-nav button svg {
  width: 30px;
}
.navbar-fdc .enlaces-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 10px;
}
@media screen and (min-width: 800px) {
  .navbar-fdc .enlaces-nav {
    margin: 0px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .navbar-fdc .enlaces-nav {
    margin-right: 50px;
    gap: 30px;
  }
}
.navbar-fdc .enlaces-nav a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-fdc .enlaces-nav a:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #3191c5;
  color: white;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}
.navbar-fdc .enlaces-nav a:first-child {
  background-color: #3191c5;
  color: white;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}
.navbar-fdc .enlaces-nav a svg {
  margin-right: 5px;
}

.model-bg {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-transform: translateX(-10000%);
          transform: translateX(-10000%);
  background-color: rgba(0, 0, 0, 0.674);
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.model-bg .model-nav {
  width: 100%;
  height: 100vh;
  background-color: #fcfeff;
  position: fixed;
}
@media screen and (min-width: 800px) {
  .model-bg .model-nav {
    width: 300px;
  }
}
.model-bg .model-nav .close svg {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.model-bg .model-nav .descripcion {
  padding: 60px 30px;
}
.model-bg .model-nav .descripcion .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.model-bg .model-nav .descripcion .item p {
  font-weight: 700;
  margin: 0px;
  font-size: 18px;
}
.model-bg .model-nav .descripcion .item a {
  text-decoration: none;
  color: black;
}
.model-bg .model-nav .descripcion .item a svg {
  width: 25px;
}
.model-bg .model-nav .descripcion .item a:nth-child(2):hover {
  color: blue;
}
.model-bg .model-nav .descripcion .item a:nth-child(3):hover {
  color: red;
}
.model-bg .model-nav .descripcion .item a:nth-child(4):hover {
  color: rgb(255, 132, 0);
}
.model-bg .model-nav .descripcion h6 {
  margin-top: 50px;
  font-weight: 700;
}
.model-bg .model-nav .descripcion .contenido {
  margin-top: 40px;
  margin-bottom: 50px;
}
.model-bg .model-nav .descripcion .contenido .text span {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.63;
}
.model-bg .model-nav .descripcion .contenido .text p {
  opacity: 0.63;
  font-size: 16px;
}
.model-bg .model-nav .descripcion .contenido .text p:hover {
  opacity: 1;
}

.active {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}